
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main{
	flex:1 0 auto;
}

.fa, .fab, .fal, .far, .fas {
	margin: 0 5px 0 5px;
}

footer ul{
	list-style: none;
}

footer{
	background: #5f9f9f;
	padding: 10px 0 10px 0;
	color:white; 
}
footer a {
	text-decoration: none;
	color:white; 
}

footer a:hover {
	color:white;
	text-decoration:none;
}

#logo img {
	 width: 50%;
 	 height: auto;
}


#imgs2 img {
	
	width: 51%;
 	height: auto;
  	display: block;
  	position:relative;
  	left:50%;
  	top:1%;
  	transform: translate(-50%, 2%);
 	 
}

#imgs1 img {
	
	width: 50%;
 	height: auto;
  	display: block;
  	position:relative;
  	left:50%;
  	top:1%;
  	transform: translate(-50%, 3%);
 	 
}




#logo {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 20px;
}


#ate{
	text-align: center;
}
#form{
	text-align: center;
}
input#example-date-input{
	text-align: center;
}

#select{
	text-align: center;
}
#botao{
	margin-bottom: 20px;
}
#cards{

	text-align: center;
	margin-top: 50px

}
main {
	margin-bottom: 20px;
}

#b_cadastro{
	margin-top: 10px;
}

#formulario2{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.mask-loading {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: #ffffff;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	display: none;
  }
.spinner-border  {
	position: absolute;
	top: 50%;
	left:50%;
	z-index: 1000;
  }